body{
    font-family: Arial;
}

#menu{
    height: 60px;
    width: 100%;
    padding:0;
    margin:0;
    background-color: #000000;
}
#left{
    width: 20%;
    height: 1000px;
    float: left;
    text-align: center;
    background: #CDCDCD;

}
#content{
    width: 60%;
    height: 1000px;
    float: left;
    text-align: left;

}
#content p{
    padding: 20px;
}
#right p, #left p{
    height: 20px;
    width: 100%;
    left: 30px;
    background: #73AD21;
    display: block;
    text-align: center;
}
#right{
    width: 20%;
    height: 1000px;
    float: left;
    text-align: center;
    background: #CDCDCD;
}
#footer{
    height: 60px;
    width: 100%;
    background: black;
    float: left;
    text-align: center;
    color: #73AD21;
}
#menu ul, #menu li{
    padding: 15px;
    margin:0;
}

#menu li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}

#menu li a{
    width:100px;
    height: 30px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    background-color: black;
    color: white;
}

#menu ul ul li a{
    width: 200px;
    text-align: left;
    padding-left: 10px;
}

#menu li a:hover{
    background-color: red;
}

#menu ul ul{
    position: absolute;
    top: 30px;
    left: 15px;
    visibility: hidden;
}

#menu ul li:hover ul{
    visibility: visible;
}